<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>AngularJS</title>
</head>
<body>
	<div ng-app="miAplication" ng-controller="miControlador">
		<p>Nombre de empleado:<input type="text" ng-model="empleado.nombreEmp"></p>
		<p>Horas trabajadas:<input type="number" ng-model="empleado.horasTrab"></p>
		<p>Cuota por hora: <input type="number" ng-model="empleado.cuotaHora"></p>
		<p>El sueldo de {{empleado.nombreEmp}} es de {{obtenerSueldo()}} </p>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script>
	</script>
</body>
</html>
<script src="js/ejercicio14.js"></script>